body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

#earthImages {
    font-size: 16px;
    padding: 8px;
}
#earthImg {
    margin-top: 20px;
    height: 350px;
    width: 350px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
#Love{
    height: 5000px;
    width: 9vh;
}

